<launch>

  <arg name="server" default="localhost"/>
  <include file="$(find occupancy)/launch/rviz.launch"/>
  <include file="$(find red_ord_cassie)/launch/opti_track.launch"/>

  <node pkg="red_ord_cassie" type="safe_velocity_node.py" name="safe_velocity_node" output="screen"/>
  <node pkg="occupancy" type="generate_barriers_node.py" name="generate_barriers_node" output="screen"/>


</launch>
