<launch>

  <arg name="server" default="localhost"/>
  <!-- Learning Parameters -->
  <arg name="A" default="10"/>
  <arg name="B" default="0"/>
  <arg name="C" default="0"/>
  <arg name="D" default="0"/>

  <!--Visulation-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find occupancy)/rviz/barrier_gen.rviz"/>
  <node name="optitrack_viz" pkg="red_ord_unitree" type="optitrack_vis_node.py"/>

  <!--Generate Barriers-->
  <node name="barrier_generator" pkg="occupancy" type="generate_barriers_node.py"/>
  
  <!--Safe Controller-->
  <node pkg="red_ord_unitree" type="unitree_safe_vel.py" name="safe_velocity_node" output="screen">
      <param name="experiment_type" type="int" value="1"/>
      <param name="A" value="$(arg A)"/>
      <param name="B" value="$(arg B)"/>
      <param name="C" value="$(arg C)"/>
      <param name="D" value="$(arg D)"/>
  </node>

  <!--Unitree-ROS Bridge-->
  <node pkg="red_ord_unitree" type="unitree_bridge.py"     name="unitree_bridge_node" output="screen"/>

  <!--Record to ./bag/ -->
  <node name="record" pkg="rosbag" type="record" args="record -o $(find red_ord_unitree)/bags/indoor
        /cmd  /unitree_pose /occupancy /barrier_IDs /simStates /t265/odom/sample
        /unitree_vis_marker /tower1_vis_marker /tower2_vis_marker /tower3_vis_marker  
        /d400/aligned_depth_to_color/image_rect_raw  /d400/depth/image_rect_raw  "/>

</launch>
